<!DOCTYPE html>
<html>
    <head>
        <title>todonow </title> 
        <link rel="stylesheet" href="index.scss" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    </head>
    <body>
        <H1>My list</H1>
        <ul> <li>
            <input type="checkbox" />
           <a href="show.html">study for Ap Psych Exam</a>
           <span class="estimate">60 minutes</span>
            <li>
                <input type="checkbox" /><a href="show.html"> finish u.s. history questions</a>
                <span class="estimate">20 minutes</span></li>
            <li> <input type="checkbox" /><a href="show.html">study for trig class
            </a>
            <span class="estimate">30 minutes</span></li></li>
        </ul>
        <div id="new-todo-block">
        <input type="text" id="new-todo-description" placeholder="task info"/>
        <input type="number" id="new-pomodoro-estimate" placeholder="enter"/> 
        placeholder="time interval"/>
      <input type=submit id="add-new-todo-button" value="add todo" id="add-new-todo-button" />
      </div
      