<body> 
<input type="checkbox"> 
<h2>Make the curriculum 4 pomodoros</h2>
<a href="#">Edit

</a>
<a href="#">Delete</a>
<a href="/todos" id="go-back">Go back... </a>
</body>
This is todo number <%= @id %>
<h2>
    <%= @todo [:title]%>
</h2>
<P>
    <%= @todo[:description]%>
</P>
